body {
  background-color: rgb(43, 43, 43);
  color: white;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main>button {
  padding: 9px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  background-color: white;
}

.imgDisplay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.imageForm {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
  margin-bottom: 20px;
}

.imageForm>label {
  margin-right: 10px;
}

.imageForm>select {
  margin-right: 20px;
  background-color: white;
  padding: 2px;
}

.imgCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.marsImg {
  width: 500px;
  height: 500px;
  margin: 10px;
}
